.head-bar-container{
	position:fixed;
	width:100%;
	border-bottom: 5px solid rgb(255,255,255);
	z-index:100;
}
.head-bar{
	height:60px;width:100%;
	line-height:60px;
	background-color:rgb(0, 197, 195);
	color:rgb(255,255,255);
	font-size:16px;
}
.mobile-tab{
	height:40px;
	line-height:40px;
	font-size:18px;
	background-color:rgb(255,255,255);
}
.mobile-tab.selected{
	color: rgb(51, 122, 183);
	border-bottom:2px rgb(51, 122, 183) solid;
}
.pc-tab-container{
	position:relative;
	left:60px;
	top:120px;
}
li.pc-tab{	
	width:150px;height:35px;
	line-height:35px;
	color:rgb(51, 122, 183);
	border-radius: 5px;
	cursor:pointer;
	font-size: 16px
}
li.pc-tab:hover{
	background-color:rgb(234,234,234); 
}
li.pc-tab.selected{
	color:rgb(255,255,255);
	background-color:rgb(51, 122, 183); 
}
form{
	margin-top:20px;
}
.list-container{
	margin-top: 50px;
}
.list{
	display:none;
	font-size:14px;
	cursor: pointer;
}
.item{
	position: relative;
	height:80px;
	padding:5px 10px;
	margin:10px auto;
	box-shadow: 0px 1px 2px rgb(218, 218, 218);
	border:1px rgb(218, 218, 218) solid;
	background-color: rgb(255,255,255);
}
.item:hover{
	background-color: rgb(234,234,234);
}
.item a{
	color:rgb(133, 133, 133);
}
.add.mobile-add{
	position:fixed;
	width:32px;height:32px;
	right:40px;bottom:40px;
}
.add.pc-add{
	position:fixed;
	width:64px;height:64px;
	right:5%;bottom:50px;
}
.add a{
	width:100%;
	height:100%;
}
.to-top{
	display:none;
	bottom:50px;
	right:5%;
}
@media (min-width:992px){
	*{
		font-size: 16px;
	}
	.head-bar{
		height:100px;
		line-height: 100px;
		font-size: 18px;
	}
	.list-container{
		margin-top: 50px;
		margin-left: 250px;
		width:60%;
	}
	.item{
		height:90px;
		font-size: 16px;
		border-radius:10px;
	}
	form{
		margin-top: 50px;
		margin-left: 230px;
		width:60%;
	}
}














